# Python virtual environment
P1/.venv/
P3/.venv/
P3/.venvv/

# Python bytecode
P1/flaskr/__pycache__/
P1/tests/__pycache__/
P3/app/__pycache__/
P3/tests/__pycache__/
*.py[cod]

# Pytest cache
P1/.pytest_cache/
P3/.pytest_cache/

# IDE-specific files
.vscode/

# Coverage reports
.coverage

# macOS-specific files
.DS_Store

# SQLite database files
*.db