{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Shop{% endblock %}</h1>
{% endblock %}

{% block content %}
  {% for product in products %}
    <article class="product">
      <header>
        <h3>{{ product['ProductName'] }}</h3>
        <div class="price">${{ product['UnitPrice'] }}</div>
        <div class="category">Category: {{ product['CategoryName'] }}</div>
      </header>
    </article>
    {% if not loop.last %}
      <hr>
    {% endif %}
  {% endfor %}
{% endblock %}

