{% extends 'base.html' %}


{% block content %}
{% if product_info %}
<h2>{{ product_info['ProductName'] }}</h2>
<p>Price: ${{ product_info['UnitPrice'] }}</p>
<p>{{ product_info['QuantityPerUnit'] }}</p>
<form method="post">
    <label for="quantity">Quantity:</label>
    <input type="number" id="quantity" name="quantity" value="1" min="1">
    <button type="submit">Add to Cart</button>
</form>
{% else %}
<h2>Product not found</h2>
{% endif %}
<a href="{{ url_for('shop.browse_or_search') }}">Back to shop</a>
{% endblock %}