{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Register{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="name">Name</label>
    <input name="name" id="name" required>

    <label for="email">Email</label>
    <input type="email" name="email" id="email" required>

    <label for="affiliation">Affiliation</label>
    <select name="affiliation" id="affiliation" required>
      <option value="">-- Select one --</option>
      <option value="student">Student</option>
      <option value="alumnus">Alumnus</option>
      <option value="resident">Resident</option>
    </select>

    <label for="college">College</label>
    <select name="college" id="college" required>
      <option value="">-- Select one --</option>
      <option value="Boston College">Boston College</option>
      <option value="Northeastern University">Northeastern University</option>
      <option value="Harvard University">Harvard University</option>
      <option value="Massachusetts Institute of Technology">Massachusetts Institute of Technology</option>
      <option value="Boston University">Boston University</option>
      <option value="Suffolk University">Suffolk University</option>
      <option value="Berklee College of Music">Berklee College of Music</option>
      <option value="Simmons University">Simmons University</option>
      <option value="Wentworth Institute of Technology">Wentworth Institute of Technology</option>
      <option value="University of Massachusetts Boston">University of Massachusetts Boston</option>
      <option value="Tufts University">Tufts University</option>
      <option value="Lesley University">Lesley University</option>
      <option value="New England Conservatory of Music">New England Conservatory of Music</option>
      <option value="Massachusetts College of Art and Design">Massachusetts College of Art and Design</option>
      <option value="Other">Other</option>
    </select>

    <label for="password">Password</label>
    <input type="password" name="password" id="password" required>

    <input type="submit" value="Register">
  </form>
{% endblock %}
